<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} %highlight(%-5level) [%-10.10t] %cyan(%logger{36}) - %msg%ex{full}%n</pattern>
    </encoder>
  </appender>
  
  <logger level="debug" additivity="false" name="eclipselink.logging">
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger level="error" additivity="false" name="eclipselink.logging.metadata">
    <appender-ref ref="CONSOLE" />
  </logger>

  <root level="info">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>